#user_box {
  border: 1px solid black;
  padding: 17px 20px 0px 20px;
}
#user_header {
  font-weight: bold;
  margin-bottom: 20px;
  white-space: nowrap;
}
#user_header_left_col, #user_header_middle_col, #user_header_right_col {
  display: inline-block;
}
#user_header_middle_col, #user_header_right_col {
  font-weight: normal;
  margin-left: 40px;
}
.user_col_header {
  font-weight: bold;
  white-space: nowrap;
}
td.user_col_header.leftmost_column {
  padding-left: 0px;
}
td.user_list {
  white-space: nowrap;
}
td.user_list.leftmost_column {
  padding-left: 0px;
}
.user_footer {
  vertical-align: top;
  padding-bottom: 13px;
}
.toggle_password_link {
  font-size: .8em;
  line-height: 1em;
}
.toggle_photos_link {
  font-size: .8em;
  line-height: 1em;
}
